  {{#each models}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#c{{ this.cid }}">
          {{ this.attributes.displayDate }}
        </a>
        <span class="label label-success pull-right">{{ this.attributes.tipo }}</span>
      </h3>
    </div>
    <div id="#c{{ this.cid }}" class="panel-collapse collapse in">
      <div class="panel-body">   
        <div class="row">
          <div class="col-xs-6 col-sm-4">Primer premio</div>
          <div class="col-xs-6 col-sm-6">{{ this.attributes.primero.numero }}
            <span class="label label-info">Serie {{ this.attributes.primero.serie }}</span>
            <span class="label label-info">Folio {{ this.attributes.primero.folio }}</span>
            <span class="label label-info">{{ this.attributes.primero.letras }}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-4">Segundo premio</div>
          <div class="col-xs-6 col-sm-6">{{ this.attributes.segundo.numero }}</div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-4">Tercer premio</div>
          <div class="col-xs-6 col-sm-6">{{ this.attributes.tercero.numero }}</div>
        </div>
      </div>
    </div>
  </div>
{{/each}}