  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          {{ model.title }}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <span class="label label-default">Dominical</span>
              <span class="label label-primary">Intermedio</span>
            </div>   
        </div>
        Odometer JS
      </div>
    </div>
  </div>